<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>フォーム入力</title>
</head>
<body>
<form action="/login_recuest" method="get">
  <p>userID:<input type="text" name="userID"></p>
  <p>pass:<input type="text" name="pass"></p>
  <p><input type="submit" valu="ログイン"><input type="reset" value="リセット"></p>
</form>
</body>
</html>
