<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>商品情報の登録</title>
</head>
<body>
<form action="/touroku_recuest" method="get">
  <p>ID:<input type="number" name="id"></p>
  <p>price:<input type="number" name="price"></p>
  <p>number:<input type="number" name="number"></p>
  <p><input type="submit" valu="送信"><input type="reset" value="リセット"></p>
</form>
</body>
</html>
