<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>フォーム入力</title>
</head>
<body>
<p><a href="/session_instance">現在時刻を格納する。</a></p>
<p><a href="/session_get">前回のアクセス日時を確認する</a></p>
</body>
</html>
