<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
</head>
<body>
  <a href="/form_zakka?total=2000&count=4&type=雑貨">雑貨</a>
  <a href="/form_seisensyokuhin?total=3000&count=10&type=生鮮食品">生鮮食品</a>
  <a href="/form_otherwise?total=8000&count=2&type=その他">その他</a>
</body>
