<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>フォーム入力</title>
</head>
<body>
  <%
  require 'mysql2'
  client = Mysql2::Client.new(:host => 'localhost', :username => 'root', :password => 'root', :database => 'GEEKJOB_db')
  statement = client.prepare(%q{insert into profiles(profilesID,name,tel,age,birthday) VALUES(?,?,?,?,?)})
  statement.execute(@params["id"],@params["name"],@params["tel"],@params["age"],@params["birthday"])
 %>
<p>DBへの追加完了</p>
</body>
</html>
