<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>フォーム入力</title>
</head>
<body>
<form action="/session_instance" method="get">
  <p>名前:<input type="text" name="name"></p>
  <p>性別:
  <input type="radio" name="sex" value="male">男
  <input type="radio" name="sex" value="female">女
  </p>
  <p>趣味:<br>
  <textarea name="free" raws="5" cols="40"></textarea></p>
  <p><input type="submit" valu="送信"><input type="reset" value="リセット"></p>
  <p><a href="/session_get">初期値を確認する</a></p>
</form>
</body>
</html>
