<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>フォーム入力</title>
</head>
<body>
  <form action="/form_instance" method="get">
    <p>変更したいレコードのID:<input type="number" name="id"></p>
    <p>name:<input type="text" name="name"></p>
    <p>tel:<input type="text" name="tel"></p>
    <p>age:<input type="number" name="age"></p>
    <p>birthday:<input type="text" name="birthdday"></p>
    <p><input type="submit" valu="送信"><input type="reset" value="リセット"></p>
</body>
</html>
