<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>フォーム</title>
</head>
<body>
  <form action="/form_request" method="get">
     <!-- formタグで括られた入力項目はこれら -->
     <p>氏名：<input type="text" name="name"></p>
     <p>性別：
     <input type="radio" name="sex" value="male">男
     <input type="radio" name="sex" value="female">女
     </p>
     <p>趣味：<br>
     <textarea name="free" rows="5" cols="40"></textarea></p>
     <p><input type="submit" value="送信"><input type="reset" value="リセット"></p>
   </form>
</body>
