<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>フォーム</title>
</head>
<body>
  <h1>テスト</h1>
  <p>これはテストです<br></p>
  <form>
    <option value="0">PHP！</option>
    <option value="1">Ruby!</option>
    <option value="2">python!</option>
  </form>
</body>
