<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>フォーム入力</title>
</head>
<body>
  <%
   require 'mysql2'
   client = Mysql2::Client.new(:host => 'localhost', :username => 'root', :password => 'root', :database => 'Challenge_db')
   statement = client.prepare(%q{delete from profiles where profilesID = ?})
   statement.execute(@params["id"])
   %>
 <p>delete</p>
</body>
</html>
